<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}
<!-- Подключаем новый файл с нашим тегом -->
{% load custom_tags %}


<!-- Название у нас будет Product -->
{% block title %}
Работаем для вас 24 на 7
{% endblock title %}


<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}


   <h1>новость</h1>
   <hr>
   <hr>
   {% if Article %}
       <table>
           <tr>
               <td>Дата</td>
               <td>Название</td>
               <td>Описание</td>
               <td>Рейтинг</td>
           </tr>

           <!-- Для каждого товара будете генерироваться новая строчка,
           т.е. новый HTML код, который указан в теле цикла.
           При этом сам цикл работает точно так же, как и в Python.
           product — переменная цикла, т.е. наш товар полученный из списка -->

           <tr>
               <!-- Не забываем, что переменные в шаблоне ничем не отличаются
                от переменных в Python. Здесь также можно получать доступ к
                полям объекта модели. Например, здесь мы выводим имя,
                в следующем столбце описание, и т.д.  -->
               <td>{{ Article.dateCreation }}</td>
               <td>{{ Article.title|truncatewords:2|censor }}</td>
               <td>{{ Article.text|truncatechars:21|censor }}</td>
               <td>{{ Article.rating }}</td>
           </tr>


       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}




{{ post_detail }}
{% endblock content %}